PORT=8000
CORS_ORIGIN=*
MONGODB_URI=mongodb+srv://Surajsahoo:Suraj123@youtubecluster.g0n1xaj.mongodb.net/
ACCESS_TOKEN_SECRET=videotube-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=videotube-backend
REFRESH_TOKEN_EXPIRY=10d
CLOUDINARY_CLOUD_NAME='my_cloud_name',
CLOUDINRY_API_KEY= 'my_key', 
CLOUDINARY_API_SECRET='my_secret'